*{
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.3) 100%, rgba(0,0,0,0.3) 100%), url('https://img.freepik.com/photos-premium/cadenas-technologique-circuits-ecran-ordinateur-portable-concept-securite-donnees-ai-generative_803320-3740.jpg');
    background-position: center;
    background-size: cover;
 
}

.navbar{
    max-width: 100%;
    height: 75px;
    margin: auto;
    color: #fff;
    background-color: #14415f; 
}

.icon{
    max-width: 100px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 20px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 25px;
    margin-top: none;
}



.menu{
    max-width: 400px;
    float: left;
    height: 70px;
    display: flex;

}

ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
img{
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    max-width: 300px;
    float: left;
    margin-left: 150px;
    display: flex; 
    justify-content: flex-end;
}

.srch{
    font-family: 'Times New Roman';
    max-width: 1000px;
    
    height: 20px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 10px;
    color: #fff;
    border-right: none;
    font-size: 20px;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btnn{
    max-width: 100px;
    max-height: 20px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    float: left;
    transition: 0.2s ease;
    cursor: pointer;
}
.btnn:hover{
    color: #000;
}

.btnn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.menu ul li {
    position: relative; 
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    z-index: 1000;
}


.menu ul li:hover .submenu {
    display: block;
}

.submenu li {
    margin: 5px 0;
}

.submenu li a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.submenu li a:hover {
    color: #ff7200;
}

.content{
    max-width: 600px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.1px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    max-width: 160px;
    max-height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}


.horloge {
    
 display: flex;
  width: 1200px;
   height: auto;
   margin: auto;
   margin-top: 16px;

}

.horloge div {
   margin: 7px;
    position: relative;
   
}

.horloge span {
    max-width: 100%;
    height: 100%;
    opacity: .8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.horloge .text {
    height: 07px;
    font-size: 07px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .6;
}

#ampm {
    bottom: 0;
    position: absolute;
    width: 40px;
    height: 23px;
    font-size: 15px;
    background: #1976b3;
}

.img {
    max-width: 100%;
    height: auto; 
}



.container {
    background-image: url("https://img.freepik.com/photos-premium/cadenas-technologique-circuits-ecran-ordinateur-portable-concept-securite-donnees-ai-generative_803320-3740.jpg"); /* Mets ici l'URL de ton image du cadenas */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    max-width: 100%; 
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0;
    margin: 0;
}

@keyframes colorChange {
    0% {
        background-color: #2dcad0;
    }
    25% {
        background-color: #ff7200;
    }
    50% {
        background-color: #1976b3;
    }
    75% {
        background-color: #2dd04e;
    }
    100% {
        background-color: #2dcad0;
    }
}

.form-animated {
    animation: swap 3s infinite;
}

.content-animated {
    animation: swap 3s infinite reverse;
}

.horloge span {
    animation: colorChange 5s infinite;
}


@media (max-width: 768px) {
    .horloge, .text, .horloge span, .horloge, .content, .cn, .content h1, .content .par, .content, .submenu, .btnn, .srch, .search, ul li a, .menu, .logo, .icon,.main{
width: 100%;
    }
}
