/* Global Styles */


    



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #a0c1c4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Header and Footer */
header.blue, footer.blue {
    background-color: #007BFF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blue {
    display: flex;
    justify-content: space-between;
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}


.nom p {
    height: 10%;
    font-size: 1.8em;
    font-weight: bold;
    border-radius: 35%;
}

.fot {
    width: 150px;
    height: 150px;
    border-radius: 60%;
    overflow: hidden;
    border: 3px solid white;
    background-color: #ddd;
}

.fot img {
    width: 120%;
    height: 100%;
    object-fit: cover;
}


.yellow-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 20px;
    margin-bottom: 20px;
}


.left-section {
    width: 100%;

}

.right-section{
    width: 100%;
    padding: 0;
    
}


.formation, .autre-formation, .centre-interet, .langues, .reference, .profil, .exp-competence, .autre-competence {
    background-color: #fffbe6;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #f0e68c;
    justify-content: space-between;
}


/* Titles and content styles */
h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #007BFF;
}

p {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.6;
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: inside;
    margin-top: 10px;
}

ul li {
    margin-bottom: 5px;
}

footer.blue {
    text-align: center;
    padding: 10px;
    font-size: 1em;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
}


