.loisir {
    border: 2px solid blue;
    padding: 5px;
    margin-bottom: 5px;
}

.langue{
    border: 2px solid green;
    padding: 5px;
    margin-bottom: 5px;
}

.reference {
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 5px;
}

form div {
    margin-bottom: 10px;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}