
.font-size-title {font-size: 5vw}
.font-size-subtitle {font-size: 3vw}

.font-size-profile-buttons {font-size: 1.2vw}

.italic {font-style: italic}
.tab {padding-left: 2%}

mark {background-color: inherit}


/* ~~~ BODY ~~~ */

body {
    
    background-color: #f0f5fa;
    padding: 1%; margin: 0;

}

#body {display: flex; flex-direction: row}


/* ~~~ CONTENT ~~~ */

#content {flex: 1 1}


/* -- HEADER -- */

header {
    display: flex;
    background-color: #f0f5fa;
    padding: 10px;
}

header #title {
    width: 80%;
    text-align: center;
    margin: auto;
}

header #title h1 {margin: 0}
header #title h2 {margin: 0}
header mark {color: #729fcf}


/* NAV */


nav {
    display: flex; flex-direction: column;
    font-size: 1.4vw;
    margin: auto;
   

}

nav menu {padding: 0}


.horloge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%; 
   

}

.horloge span {
    font-size: 30px;
    border-radius: 10px;
}


#ampm {
    bottom:-30px;
    position: relative;
    font-size: 20px;
    margin: 5px;
   
}

.horloge .text {
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

@keyframes swap {
0%, 100% {
    transform: translateX(0);
}
50% {
    transform: translateX(50%);
}
}

@keyframes colorChange {
0% {
    background-color: #2dcad0;
}
25% {
    background-color: #4547ad71;
}
50% {
    background-color: #1976b3;
}
75% {
    background-color: #4c496d;
}
100% {
    background-color: #2dcad0;
}
}

.form-animated {
animation: swap 3s infinite;
}

.content-animated {
animation: swap 3s infinite reverse;
}

.horloge span {
animation: colorChange 5s infinite;
}








nav li {
    color: #445f7c; font-size: 1.5em;
    padding: 6% 0 0 1vw;
}

nav a {
    color: #729fcf; font-weight: bold; text-decoration: none;
    position: relative; left: -10%;
    
}

nav a:visited {color: #729fcf}
nav a:hover {color: #445f7c}
nav a:active {color: #2d3f52}


/* -- FOOTER -- */

footer {
    color: #729fcf; font-size: 0.7em; text-align: center;
    background-color: #f0f5fa;
    padding: 10px;
}

footer p {margin-top: auto}

footer a {color: #729fcf}

footer div {
    display: inline-block;
    padding-left: 10px; margin: auto;
}

footer img {
    width: 2vw; height: 2vw;
    padding: 10px;
}


/* ~~~ RESPONSIVENESS ~~~ */

@media screen and (max-width: 600px) {

    /* FONT SIZES */

    .font-size-title {font-size: 2em}
    .font-size-subtitle {font-size: 1.6em}

    /* MISC */

    #body {display: block}
    #content {position: absolute; top: 0; left: 0; z-index: 1}

    nav {display: none}
}

